.Header {
  width: 100vw;
  height: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  color: #0ca5a2;
}

h1 {
  font-family: cursive;
  font-size: 40px;
  text-shadow: 2px 2px #dbe7e7;
}

.titles {
  display: flex;
  flex-direction: column;
}

.input {
  width: 68vw;
  height: 40px;
  border: 2px solid #0ca5a2;
  margin-left: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100px;
}

.ReaperList {
  margin-left: 30px;
  margin-right: 30px;
}

.form {
  display: flex;
}

.add-btn {
  background-color: #0ca5a2;
  border: 2px solid black;
  margin-left: 20px;
  height: 46px;
  width: 150px;
  font-size: 16px;
  font-family: cursive;
  font-weight: bold;
  text-shadow: 1px 1px #dbe7e7;
}

.add-btn:hover {
  background-color: white;
  color: #0ca5a2;
  border: 2px solid #0ca5a2;
}

.menu-icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: flex-end;
  margin: 3px;
}

.icons {
  display: flex;
}

.check {
  display: flex;
  align-items: center;
}
